#countdown-v1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: black solid 1px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  background: white;
  margin: 20px 0 0 20px;
  #title {
    border-radius: 5px;
    background: black;
    padding: 10px 5px;
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    margin: 10px 0;
  }
  #end-time {
    font-size: 15px;
  }
  #time-board {
    display: flex;
    align-items: center;
    margin: 10px 0;
    .text {
      border-radius: 5px;
      background: black;
      padding: 0 5px;
      line-height: 36px;
      color: white;
      font-size: 20px;
      margin-left: 2px;
      letter-spacing: 2px;
    }
    .colon {
      font-size: 20px;
      color: black;
      margin: 0 8px 0 10px;
    }
  }
}