#countdown-v1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  margin: 20px 0 0 20px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.8); }
  #countdown-v1-box #title {
    border-radius: 5px;
    background: black;
    padding: 10px 5px;
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    margin: 10px 0; }
  #countdown-v1-box #end-time {
    font-size: 15px; }
  #countdown-v1-box #time-board {
    display: flex;
    align-items: center;
    margin: 10px 0; }
    #countdown-v1-box #time-board .text {
      border-radius: 5px;
      background: black;
      padding: 0 5px;
      line-height: 36px;
      color: white;
      font-size: 20px;
      margin-left: 2px;
      letter-spacing: 2px; }
    #countdown-v1-box #time-board .colon {
      font-size: 20px;
      color: black;
      margin: 0 8px 0 10px; }
